In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Read the csv file into a pandas DataFrame

brains = pd.read_csv('../data/clean_data/Oil Consumption - Barrels-YearFixed-Python.csv')
brains.head()

,Year,Argentina,Austria,Azerbaijan,Belarus,Belgium,Brazil,Bulgaria,Canada,Central America,...,Total S. & Cent. America,Trinidad & Tobago,Turkey,Turkmenistan,Ukraine,United Kingdom,US,USSR,Uzbekistan,Venezuela
0,1965,432.37,106.65,0.0,0.0,312.11,305.67,71.22,1108.12,78.48,...,1666.94,35.17,69.37,0.0,0.0,1466.08,11522.19,3313.95,0.0,183.88
1,1966,447.27,118.21,0.0,0.0,318.67,334.60,81.13,1167.47,79.31,...,1761.85,35.42,82.81,0.0,0.0,1573.60,12100.35,3548.82,0.0,181.47
2,1967,459.88,125.65,0.0,0.0,350.40,344.54,101.83,1245.56,83.42,...,1820.00,36.95,97.02,0.0,0.0,1696.27,12566.88,3866.13,0.0,185.73
3,1968,468.99,144.32,0.0,0.0,405.10,412.43,120.46,1322.16,84.86,...,1941.28,37.56,116.57,0.0,0.0,1794.16,13404.55,4107.31,0.0,201.43
4,1969,491.75,158.69,0.0,0.0,468.29,456.56,148.47,1380.19,90.34,...,2032.63,39.49,129.44,0.0,0.0,1930.18,14152.99,4376.25,0.0,200.37

In [ ]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape to create this

X = brains["Year"].values.reshape(-1, 1)
y = brains["size"].values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)